@{
    ViewData["Title"] = "Manage workers";
}
<div class="row">
    <div class="col-md-4">
        @await Component.InvokeAsync("AddEditWorker")
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("WorkersList")
    </div>
</div>