@model ProjectsViewModel


<h4>@Model.Action Project</h4>
@using (Html.BeginForm(Model.Action, "Projects"))
{
    @Html.AntiForgeryToken()
    <div class="text-center text-info">All fields are required</div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NumberOfWorkers">Workers</label>
            <input asp-for="NumberOfWorkers" class="form-control" value="1" max="100" min="1" style="width: 19%" />
            <span asp-validation-for="NumberOfWorkers" class="text-danger"></span>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-success" asp-route-id="@Model.Id">@Model.Action</button>
            @if (Model.Action == "Update")
            {
                <a class="btn btn-default" asp-action="Projects">Cancel</a>
            }
        </div>
}

