@{
    ViewData["Title"] = "Contact";
}
<h2>We're always happy to help you!</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1-2-16, Demyana Bednogo str.<br />
    Moscow, 123423<br />
    <abbr title="Phone">gsm:</abbr>
    +7-929-987-24-07<br />
    <abbr title="Skype">skype:</abbr>
    oleg.y.musin
</address>

<address>
    <strong>Support:</strong> <a href="mailto:o.musin@outlook.com">o.musin@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:i.v.musina@outlook.com">i.v.musina@outlook.com</a>
</address>
