@{
    ViewData["Title"] = "Home Page";
}
<div class="homeimage" style="text-align: center">
    
    <img src="./images/dinner.jpg"/>
    <h2 class="imgh2"><span>Need workers for project?</span></h2>
    <h2 class="imgh3"><span>Looking for project to work on?</span></h2>
    <h2 class="imgh1"><span >You are at the right place!</span></h2>

</div>