
<div>

    <div class="col-md-4">
        <h3>Add Worker</h3>
        <worker-form (wrkAdded) ="addNewWorker($event)"></worker-form>
        
    </div>

    <div class="col-md-8">
        <h3>Workers list:</h3>
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        <wait-cursor *ngIf="isBusy"></wait-cursor>
        <table class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Specialty</th>
                    <th class="text-center">Salary</th>
                    <th>Shifts</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let worker of workers">
                    <td>
                        {{worker.id}}
                    </td>
                    <td>
                        <a [routerLink]="['/workers', worker.id]">
                            {{worker.name}}
                        </a>
                    </td>
                    <td>{{ worker.specialty }}</td>
                    <td class="text-center">{{ worker.salary }}</td>
                    <td>
                        <shifts-datelist [worker] ="worker">
                             <!--List of worker's shifts dates--> 
                        </shifts-datelist>
                    </td>
                    <td>
                        <a [routerLink]="['/editor/worker', worker.id]" class="btn btn-sm btn-default" style="background: #a6deb3" >Edit</a>
                        <button (click)="onDelete(worker)" class="btn btn-sm btn-default" style="background: #cd6c6d">Delete</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
