
<head>
    <title> {{pageTitle}} </title>
</head>
<div id="sidebar">
    <img src="/img/shft3.jpg" alt="headerpic" class="headerpic" />

    <ul class="nav">
        <li><a class="btn btn-primary" href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a class="btn btn-primary" [routerLink]="['/workers']" href=""><i class="fa fa-group"></i> Workers</a></li>
        <li><a class="btn btn-primary" [routerLink]="['/projects']" href=""><i class="fa fa-briefcase"></i> Projects</a></li>
        <li><a class="btn btn-primary" [routerLink]="['/shifts']" href=""><i class="fa fa-calendar"></i> Shifts</a></li>
    </ul>
</div>

<div id="wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a id="sidebarToggle" class="btn btn-sm btn-group-sm" (click)="togglePanel()">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                &nbsp;&nbsp;&nbsp;
            </ul>
          
            
                <a href="/" class="nav navbar-brand" style="text-align: center">Shifts Calendar</a>
   

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="btn btn-sm btn-group-sm">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-sm btn-group-sm">
                        <i class="fa fa-print"></i>&nbsp;Print
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="main" class="container-fluid">



        <router-outlet></router-outlet>
        <!--Component Placeholder-->


    </div>
    <div id="footer" class="container-fluid">
        <div class="navbar navbar-fixed-bottom" >  
            <h5 class="text-center text-info"> &copy;2016 Oleg Musin</h5>
        </div>
    </div>
</div>
