@{
    ViewData["Title"] = "Manage projects";
}
<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated && (User.IsInRole("admins") || User.IsInRole("operators")))
        {
            @await Component.InvokeAsync("AddEditProject")
        }
    </div>
    <div class="@(User.Identity.IsAuthenticated &&
                 (User.IsInRole("admins") ||
                  User.IsInRole("operators")) ? "col-md-8" : "col-md-12" )">
        @await Component.InvokeAsync("ProjectsList")
    </div>
</div>
