@{
    ViewData["Title"] = "Manage projects";
}
<div class="row">
    <div class="col-md-4">
        @await Component.InvokeAsync("AddEditProject")
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("ProjectsList")
    </div>
</div>
