@model IEnumerable<ShiftsViewModel>

<ul id="shiftslist" class="ctrtxt">
    @foreach (ShiftsViewModel shift in Model)
    {
        <li style="text-align: center" class="@Html.Raw(shift.IsCanceled ? "hidden" : "")">
            @String.Format("{0:dd/MM/yyyy}", shift.Date)
        </li>
    }

</ul>




