@model IEnumerable<ShiftsViewModel>

<ul id="shiftslist">
    @foreach (ShiftsViewModel shift in Model)
    {
        <li style="text-align: center">@String.Format("{0:dd/MM/yyyy}", shift.Date)</li>
    }

</ul>




